.mat-slide-toggle {
    padding-left: 50px;
}

.mat-form-field {
    padding-left: 20px;
}

.mat-radio-button {
    padding: 20px;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.brown {
    background-color: brown;
}

.black {
    background-color: black;
}

#description {
    width: 90%;
}

#title {
  width: 70%;
}

textarea.mat-input-element {
    height: 200px;
}
